{% extends "base-new-bootstrap.html" %}

{% block style   %}


<style>


</style>


{% endblock %}

{% block sidebar %}
	{% include "inserts/detail-sidebar.html" %}

{% endblock %}


{% block mainbox  %}
    <!-- Page Content -->

	<div style="margin-left:200px" class="container">
		{% include "inserts/rsvn-id-block.html" %}	
	<div>



<!-- ========== --> 
	{% if session.panel == 'rsvncard' %}
	
		{% include "inserts/rsvncard.html" %}

<!-- ========== --> 
	{% elif session.panel == 'roomcard' %}
		{% include "inserts/room-select.html" %}
<!-- ========== --> 
	{% elif session.panel == 'servicecard' %}
		<h1>{{ session.panel }}</h1>
			{{ServiceForm.as_table }}
		</table>	
<!-- ========== --> 
	{% elif session.panel == 'tourcard' %}
		<form method="POST">
			{% csrf_token %}
		{% if TourForm %}
		<table>
			{{ TourForm.as_table }}
		</table>	
		
		{% else %}
			<h3>+ Add Tour Info </h3>
		{% endif %}
		</form>	
<!-- ========== --> 
	{% elif session.panel == 'eventcard' %}
		<form method="POST">
			{% csrf_token %}
		{% if EventForm %}
		<table>
			{{ EventForm.as_table }}
		</table>	
		
		{% else %}
			<h3>+ Add Event Info </h3>
		{% endif %}
		</form>	


<!-- ========== --> 
	{% elif session.panel == 'searchcard' %}
		{% include "inserts/searchcard.html" %}

	{% elif session.panel == 'welcomecard' %}
		{% include "inserts/welcomecard.html" %}
	
	{% elif session.panel == 'gridcard' %}
		{% include "inserts/newMainGrid.html" %}

	{% elif session.panel == 'newgridcard' %}
		{% include "inserts/gridDevelop.html" %}

	{% elif session.panel == 'currentcard' %}
		{% include "inserts/current.html" %}

	{% elif session.panel == 'calendarcard' %}
		{% include "inserts/calendar.html" %}


	{% endif %}
</div>

{% endblock %}








