
<div style=" text-align: center;padding:.5em;font-weight:bold;" >
	Please enter Check-In and Check-Out dates
</div>

<div>	
	<!-- Date Select -->
	<table class="dateTable">
		<tr>
			<th width="50%">Check in Date</th>
			<th width="50%">Check out Date</th>
		</tr>
		<tr>
			<td><input value="{{ dateFrom }}" name="dateFrom" 	id="dateFrom"	class="datepicker dateEntry" type="text"  ></td>
			<td><input value="{{ dateTo }}"   name="dateTo" 	id="dateTo"		class="datepicker dateEntry" type="text" ></td>
		</tr>

	</table>
</div>

<!-- Select Room Type -->
<style>

	.inBox {
		width:400px;
		text-align:center;
		padding:1em ; 
		border:1px solid seagreen;
		margin:20px auto;
		border-radius:10px;
	}

</style>


<div>

	<div class='inBox'> 
		Please Select a Room type 
		<select id="typeChoice" name="typeChoice" style="font-size:12pt;margin-left:5px;">
			{% for t in RoomTypeChoices %}
			<option  >{{ t }}</option>
			{% endfor %}
		</select>
	</div>
	

	<div class='inBox'> 
		Number of Rooms
		<input  class="dateEntry" style="width:50px"  id="numrms" type="number" min="1" max="70" name ="numRooms" value="{{ numRooms }}" >
	</div>	


	<!-- locks the select to the current selection -->
	<script>
		$("#typeChoice").val("{{ typeChoice }}");
	</script>


</div>
		
