{% extends "webview/base.html" %}

{% block mainblock %}

	<form id="mainForm" method='POST'>
		{% csrf_token %}

		<div id='leftFrame' >
			{% include 'webview/webview_left.html'%}
		</div>
		
		<div id='rightFrame' >
				{% include 'webview/webview_right.html' %}  
		</div>

		
		<div class='clear'></div>
	
	<hr>
	
		<div id='centerFrame' >
			{% include 'webview/webview_bottom.html'%}  
			<div class="clear"></div>
		</div>


	</form>

	<script >
		$( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
		$( ".button-like").button();		
		$( "#typeChoice").change(
			function () {
				$("#mainForm").submit();
			}
		);
		$( "#numrms").change(
			function () {
				$("#mainForm").submit();
			}
		);
		$( "#dateTo").change(
			function () {
				$("#mainForm").submit();
			}
		);
		$( "#dateFrom").change(
			function () {
				$("#mainForm").submit();
			}
		);
	</script>

{% endblock %}

	
