

	<style>
	.calTable {
		margin:auto;
		width:100%;
	}
	
	.calTable th {
	
		width:150px;
	}

	.calTable th,
	.calTable td
	{
		border-collapse: collapse;
		border:1px solid burlywood;
		margin:0;
		padding:.25em;
	}
	

	.cellTable td
	{
		
	}
	</style>
	
	<div style="background-color:white; padding:.45em; font-size:20pt;text-align:center; color:maroon"> 
		<span style=" font-size:20pt;text-align:center; color:maroon"> {{ caldate|date:"l F d, Y" }} </span>
		<span style=" font-size:16pt;text-align:center; color:#949494"> {{ dday }} </span>
	</div>


<table class="calTable" cellspacing='0' cellpadding='0' >
	<tr><th>Events</th>
		<td>

		{% for cal in calEvent %}
			{{ cal.descr }}
		{% endfor%}	
		</td>
		
	</tr>	
	<tr style="background-color:white"><th>In House</th>
		<td>
		{% for cal in calHouse|dictsort:'roominfo.number' %}
			<div style="width:70px; float:left;"><a href="/rsvn/detail/list/{{ cal.rsvn.id}}" >{{ cal.roominfo.number}}</a></div> 
		{% endfor %}	
		<div class="clear">
		</td>
	</tr>
	
		
	<tr><th>Checkin</th>
		<td>
		
			{% for rv in calCheckin %}
			<table class="cellTable"  width='100%'>
				<tr>
					<td width="200" style="color:royalblue" >{{ rv.tourset.agent }}</td>
					<td width="300"> {{ rv.firstname }} {{ rv.lastname }}</td> 	 
					<td width="150">Out:{{ rv.dateOut|date:"m/d/y" }}</td>
					<td>Room(s): 
						{% for rm in rv.roomset %} 
							{{ rm.roominfo.number }} ,
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td colspan='4'>Notes: {{ rv.notes }}</td>		
				</tr>
			</table>

			{% endfor %}

		</td>
	 
	</tr>	
	<tr><th>Checkout</th>
		<td>
			
			{% for rv in calCheckout %}
			<table class="cellTable"  width='100%'>
				<tr>
					<td width="200">{{ rv.tourset.agent }}</td>
					<td width="300"> {{ rv.firstname }} {{ rv.lastname }}</td> 	 
					<td width="150">In:{{ rv.dateIn|date:"m/d/y" }}</td>
					<td>Room(s): 
						{% for rm in rv.roomset %} 
							{{ rm.roominfo.number }} ,
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td colspan='3'>Notes: {{ rv.notes }}</td>
					<td>Services: <span style="color:royalblue">
						{% for rm in rv.serviceset %} 
							{{ rm }} 
						{% endfor %}
						</span>
					</td>
				</tr>
			</table>

			{% endfor %}

		</td>
	</tr>
</table>
