<!-- We need to bring in packed rsvnRec -->

<style>


.hblock tr,
.hblock th,
.hblock td
  { 
	padding:.5em;

	
}


.hlight {
	font-size:14pt;
	color:black;
}

.hinblock {
	width:100%;
	border-collapse:collapse;

}

.hinblock tr,
.hinblock th,
.hinblock td
{
	padding:.4em;
	border:1px solid BurlyWood;
	font-size:10pt;
}

.hinblock th {
	font-weight:normal;
	text-align: right;
}

#headerbox {
	background-color:beige; 
	height:170px;
}

.headerPanel {
	width :250px;
	height:165px;
	float:left;
	padding-left :1em;
}

.headerPanelHead {
	background-color: #aaa;
	font-weight:bold;
	text-align: center;

}

.headerPanelData {
	border:1px solid #ccc;
	height:130px;
	overflow-y:auto; 
	padding:.5em;
}

.blogHead {
	background-color:#ddd;
	font-size: 9pt;
	font-weight:800;
	padding:3px;
}
.blogItem {
	font-size:10pt;
	font-weight:normal;
	padding:5px;

}

</style>

<div id="headerbox"  ">
	{% if rsvnid > 0 %}

	<div class="headerPanel" style="width:300px">
		<div class="headerPanelHead" >Customer</div>
		<div class="headerPanelData">
		  <div class="hlight" ><a href=  "{% url 'rsvnupdate' rsvnid %}" 
		  	style="padding:.3em;color:{{ rsvnRec.textColor }}">{{rsvnRec.firstname }} {{ rsvnRec.lastname }}</a></div>
			{% if rsvnRec.tourset %}	
				<div class="hlight" style="color:royalblue;padding:.3em">
				<a href="{% url 'rsvnupdate' rsvnid %}">{{rsvnRec.tourset.agent.agency }}</a></div>
			{% endif %}
			<div  style="padding:.5em">{{ rsvnRec.confirm }} - - <a href={% url 'invoice' rsvnid %} >Invoice</a></div>
		  		
		</div>	
	</div>	
	<div class="headerPanel" >
		<div class="headerPanelHead" >Info</div>
		<div class="headerPanelData">
			<table class="hinblock">
				<tr><th>Status:</th> 	<td  style="text-align:left ; font-weight:bold" >{{ rsvnRec.status|capfirst }}		</td></tr>
				<tr><th>Type:</th> 	<td  style="text-align:left; font-weight:bold; " >{{ rsvnRec.rooms }} - {{ rsvnRec.type|upper }}		</td></tr>
				<tr><th>In:</th><td  style="font-weight:bold" >{{rsvnRec.dateIn|date:"D m/d/y" }}</td></tr>
				<tr><th>Out:</th><td  style="font-weight:bold" >{{ rsvnRec.dateOut|date:"D m/d/y" }}</td></tr> 
				<tr><th>Adult :</th><td> <span  style="font-weight:bold">{{ rsvnRec.adult }}</span></td></tr>
				<tr><th>Child :</th><td> <span  style="font-weight:bold">{{ rsvnRec.child }}</span></td></tr>
				<tr><th>Infant :</th><td> <span  style="font-weight:bold">{{ rsvnRec.infant }}</span></td></tr>
				<tr><th>Phone :</th><td> <span  style="font-weight:bold">{{ rsvnRec.phone1 }}</span></td></tr>
				<tr><th>Source :</th><td> <span  style="font-weight:bold">{{ rsvnRec.source|upper }}</span></td></tr>
				<tr><th>Country :</th><td> <span  style="font-weight:bold">{{ rsvnRec.country }}</span></td></tr>
					{% if rsvnRec.tourset %}
				<tr><th>Arrival Flight :</th>
					<td  style="font-weight:bold" >{{ rsvnRec.tourset.arrive_flight }} - {{ rsvnRec.tourset.arrive_time|date:"m/d/y-h:m:s" }}</td></tr>
				<tr><th>Departure Flight:</th>
					<td  style="font-weight:bold" > {{  rsvnRec.tourset.depart_flight }} - {{ rsvnRec.tourset.depart_time|date:"m/d/y-h:m:s" }}</td></tr>
					{% endif %}
			</table>
		</div>
	</div>

	<div class="headerPanel" >
		<div class="headerPanelHead" >Services</div>
		<div class="headerPanelData">
			<ul>
			{% for  serv in rsvnRec.serviceset %}
				{% for c in serv %}
					  <!-- Haveto step through lists to get the abbreviation out -->
					{% if forloop.counter == 2 %}
						<li style="padding:.3em; color:royalblue; font-weight:bold; font-size:12pt" >{{ c }},</li>
					{% endif %}		
			  	{% endfor %}
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="headerPanel" >
		<div class="headerPanelHead" >Rooms</div>
		<div class="headerPanelData">
			{% for rms in rsvnRec.roomset|dictsort:'roominfo.number'  %}
				<div style="font-weight:500; width:42px; float:left;">{{ rms.roominfo.number }}</div> 	
			{% endfor %}
		<div class="clear"></div>
		</div>
		
	</div>

	<div class="headerPanel" >
		<div class="headerPanelHead" >Notes</div>
		<div class="headerPanelData">{{ rsvnRec.notes}}</div>
	</div>

	<div class="headerPanel" >
		<div class="headerPanelHead">Blog</div>
		<div class="headerPanelData" style="padding:0 !important;">

			{% for line in rsvnRec.blogset %}
				<div class="blogHead"> {{ line.time }} {{ line.clerk }}  </div>
				<div class="blogItem"> {{ line.desc }}</div>

			{% endfor %}
			</table>



		</div>
	</div>

{% else %}

	<div style=" height:100%; text-align:center; padding:20px" >
	
		<span style="font-size:22pt; font-weight:bold; color:darkgreen; margin-top:20px;">Mango Resort Reservation System</span>

	</div>
{% endif %}

</div>
<div class="clear" ></div>


