{% extends "revise/base-new.html" %}

{% block style   %}
<style>



.headText {
	color:brown;
	text-align:center;
	font-size:20pt;
	font-weight:bold;
	padding:10px;
	
	
}
.required {
	color:RoyalBlue;
}
.error {
		color:yellow;
		background-color:red;
}


</style>
{% endblock %}



{% block mainbox  %}

<div> {% include  'revise/detailHeaderNew.html' %} </div>

<div class='std_div2' >
<!-- Detail Header -->	
	
	<div>
	<form id="mainListForm" method='POST'>
		{% csrf_token %}
		<div>
			<span><a href="{% url 'rsvncreate' %}"   style="color:maroon"> New Reservation</a>	</span>

			<label class="clean-label" for="listSelect">Select List Type</label>

			<select class="clean-button" id="listSelect" name="listSelect" >
				<option value="inHouse" >In House</option>
				<option value="current" >Current Reservations</option>
				<option value="agent" >Agent</option>
				<option value="checkin" >Check In Today</option>
				<option value="checkout" >Check Out Today</option>
				<option value="cancel" >Cancelled Reservations</option>
				<option value="archive" >Archive Search</option>
			</select>

			<span id="sortedBlock" >
				<label class="clean-label" for="listSort">Sorted by</label>
				<select class="clean-button" id="listSort" name="listSort">
					<option value="firstname">First Name</option>"
					<option value="lastname" >Last Name</option>"
					<option value="dateIn"  >Check In Date</option>"
					<option value="dateOut" >Check Out Date</option>"
				</select>
			</span>
		
			<span id="searchBlock">	
				<label class="clean-label" for="srch">Search</label>
				<input id="srch" class="clean-button" type='text' name='query'  value='{{query}}' size='10' >
			</span>	

			<span id="agentBlock" >	
				<label class="clean-label" for="agentSelect">Select Agent</label>
				<select class="clean-button" id="agentSelect"  name="agentSelect">
					{% for agent in agentList|dictsort:'agency' %}
					<option value="{{ agent.agency}}">{{ agent.agency}}</option>
					{% endfor %}
				</select>
			</span>	

			<button class="clean-button" name="listGo" > Go </button>
		</div>
		<hr>
		<div style="text-align:center">
			<h2>{{ filterLabel }}
				{% if query %}Searching for  "{{ query }}" 	{% endif %} 
			</h2>
		</div>
		<hr>
		<div id="rLister">
			<table  id="rListerTable"  style="width:100%">

				<tr>
					<th></th>
					<th>Confirm #</th>
					<th>Status</th>
					<th>Agency</th>
					<th>Name</th>
					<th>Date In</th>
					<th>Date Out</th>
					<th>Services</th>
					<th>Type</th>
					<th>A</th>
					<th>U</th>
					<th>Clerk</th>
				</tr>
				{%for rv in rlist %}
				<tr
					{% if rv.highlight == '1' %}
			
						style="background-color:white;" 
					{% elif rv.highlight == '2' %}
						style="background-color:red !important;" 
					{% endif %}
				>
				
					<td style="background-color:{{ rv.gridColor}}"> 
						<a href="{% url 'rsvnupdate' rv.id %}" style="color:{{ rv.gridColor }}">X</a></td>
					<td>{{ rv.confirm }}</td>
					<td>{{ rv.status}}</td>
					<td><a href="/rsvn/detail/list/{{rv.id}}#current" style="color:{{ rv.textColor }}; {{ rv.textStyle }}"
						ondblclick="window.location.assign('/rsvn/detail/update/{{rv.id}}')">
						{{ rv.tourset.agent.agency }}</a></td>
					<td><a href="/rsvn/detail/list/{{rv.id}}#current" style="color:{{ rv.textColor }}; {{ rv.textStyle }}"
						ondblclick="window.location.assign('/rsvn/detail/update/{{rv.id}}')" >{{ rv.firstname }} {{ rv.lastname }}</a></td>
					<td>{{ rv.dateIn|date:"m/d/y" }}</td>
					<td>{{ rv.dateOut|date:"m/d/y" }}</td>
					<td>
						{% if rv.serviceset %}
							{% for sv in rv.serviceset%}
								{% for c in sv %}
								<!-- Haveto step through lists to get the abbreviation out -->
									{% if forloop.counter == 3 %}
											<a href="/rsvn/detail/list/{{rv.id}}#current"><span style="color:royalblue;"> {{ c }}, </span></a>
									{% endif %}		
								{% endfor %}
							{% endfor %}
						{% endif %}
					</td>
					<td >{{ rv.type }}</td>
					<td > Rms-{{ rv.assigned }}</td>
					<td > U-{{ rv.unassigned }}</td>
					<td> {{ rv.clerk }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</form>
	</div>
</div>

<script>
	{% if agentSelect %}
		$('#agentSelect').val('{{ agentSelect }}') ;
	{% endif %}	
	
	
	{% if listSort %}
		$( "#listSort" ).val('{{ listSort }}');
	{% endif %}
	
	{% if listSelect %}
		$( "#listSelect" ).val('{{ listSelect }}');
	{% endif %}
	
	$( "#rsvnMenu").css("background-color","navajowhite");

	$ ( "#listSelect" ).change(
		function() {
			$("#mainListForm").submit();	
		}
	);
	$ ( "#listSort" ).change(
		function() {
			$("#mainListForm").submit();	
		}
	);
	
	
</script>

<script src="/static/rsvn/js/detail.js"></script>

		
{% endblock %}
