{% extends "revise/base-new.html" %}

{% block style   %}


<style>
		
.leftFrame {
	width:340px;
	float:left;
	padding:1em;
	background-color:beige;
	border:1px solid brown;
	margin:5px;
	border-radius:20px;
	height:550px;
}


.leftFrame th {
	text-align: right;
	padding:.25em;
	font-size:10pt;
}

.leftFrame td,
.leftFrame input,
.leftFrame select

{
	font-size:12pt;
	padding:4px;
}



.stdFrame  {
		height: 810px;
		overflow:scroll;
}

.headText {
	color:brown;
	text-align:center;
	font-size:20pt;
	font-weight:bold;
	padding:6px;
}

.titleText {
	color:brown;
	text-align:center;
	font-size:14pt;
	font-weight:bold;
	padding:4px;

}
.required {
	color:RoyalBlue;
}
.error {
		color:yellow;
		background-color:red;
}
.RGTable th,
.RGTable td,
.RGTable tr

{
	font-size:8;
	padding:.4em;
	margin:2px;
}

.RGTable button {
	border:none;
	padding:.2em;
	margin:1px;
	font-size:11pt;
	border-radius:4px;
	cursor:pointer;
}

.RGTable th
{
	text-align:right;
	font-size:10pt;
	color:white;
	font-weight:300;
}



.RGDiv 
{
	float:left;
	padding:.4em;
	border-radius:20px;
	border:1px solid brown;
	background-color:#3f3f3f;
	margin:5px;
	width:1100px;
	}

#eventTable {
	width:100%;
	font-size:10pt;
	border-collapse:collapse;	
}

#eventTable tr {
	border:1px solid green;
}

#eventTable td {
	padding:.3em;
	background-color:white;
	color:black;
}

#eventTable th {
	padding:.5em;
	background-color:grey;
	color:yellow;
}
.clearButton {
	background-color: inherit;
	border:none;


}
	
</style>
{% endblock %}


{% block mainbox  %}
<div class="std_div2">
	<form id="mainForm" method="POST" >
	{% csrf_token %}
	<div id="eventBox" class="leftFrame">
		<div class='headText'>Event Information</div>
		{% if eventForm %} 
		<table>
			{% for rform in eventForm %}
			<tr>
				<th
					{% if rform.errors %}
						class='error'
					{% elif  rform.name in fieldchk %}
						class='required'
					{% endif%}
				>{{ rform.label }}</th>
				<td>{{ rform }}</td>
			</tr>
			{% endfor %}

		</table>
		{% endif %}
	</div>
	<div style="float:left;width:1300px; border:solid green; margin-left:30px;">
		<table id="eventTable">
			<tr><th>Title</th>
			<th># of Pax</th>
			<th>Description</th>
			<th>Venue</th>
			<th>Date/Time Start</th>
			<th>Date/Time End</th>
			<th>Controls</th></tr>

		{% for eL in eventList %}
			<tr><td><button class="clearButton"  name="editEvent" value="{{eL.id}}">{{ eL.title }}</button></td>
			<td>{{ eL.pax }}</td>
			<td>{{ eL.descr }}</td>
			<td>{{ eL.venue}}</td>
			<td>{{ eL.dateStart|date:"m/d/Y" }} - {{ eL.timeStart }}</td>
			<td>{{ eL.dateEnd|date:"m/d/Y" }} - {{eL.timeEnd }} </td>
			<td ><button name="deleteEvent" value="{{eL.id}}">X</button></td></tr>

<!-- New Testing --> 

		{% endfor %}
		</table>
	</div>
	<div class='clear'></div>
	{% if edit == '1' %}
		<div style="padding:1em;width:340px;margin:10px 0;text-align:center">
			<button name="updateEvent" value="{{evid}}" style="padding:.5em">Update Event</button>
		</div>
	{% else %}
		<div style="padding:1em;width:340px;margin:10px 0;text-align:center">
			<button name="addEvent" style="padding:.5em">Create an Event</button>
		</div>
	{% endif %}
	</form>
</div>

<!-- Delete dialog definition -->

<div id="delVerifyDialog" >
	<div class="titleText" >Permanent Deletion</div>
	<div class="titleText">are you sure? </div>
</div>

<!-- Clone dialog definition -->


<script src="/static/rsvn/js/detail.js"></script>


<script>

// Dialog for deleting a record
	
	 $(function() {
		$( "#delVerifyDialog" ).dialog({
		   autoOpen: false, 
		   modal:true,
		   buttons: {
			  OK: function() {
				  $("#deleteVerify").val("yes")
				  $("#mainForm").submit();
				  $(this).dialog("close"); },
			Cancel: function() 	{$(this).dialog("close"); }
				  
		   },
		   title: "Delete Reservation {{ rsvnid }} ",
		});
		$( "#delbutton" ).click(function() {
		   $( "#delVerifyDialog" ).dialog( "open" );
		});
	 });

//  Dialog for duplicating a record 

</script>
{% endblock %}
