{% extends "revise/base-new.html" %}


{% block style  %}
<style>
.global {
	border:1px solid #898989;
	margin-left:1em;

}

.global th {
	padding : 1px 3px 1px 3px;
	text-align:center;
	font-size:8pt;
	background-color:#FFF8AD;

}
.global td {
	padding:0;
	margin:0;
	text-align:center;
	font-size:8pt;
	color:white !important;
	background-color:white;

}

.gridBox  {
	width:100%;
}
</style>
{% endblock %}


{% block mainbox  %}

<div> {% include  'revise/detailHeader.html' %} </div>

<div class="std_div2">
<form method='POST'>
	{% csrf_token %}
	<div style="text-align: center;padding:1em;">
		Start Date <input type="text" 	name="dateStart" 	value='{{dateStart}}' 	class="datepicker dateText" >
		Ending Date <input type="text" 	name="dateEnd"	 	value='{{dateEnd}}' 		class="datepicker dateText" >
		<button name ="view" class="clean-button">View Range</button>
	</div>
	<table border='1'><tr>
		<td><button name="push" value="all">All Rooms</button></td>
		<td><button name="push" value="standard">Standards</button></td>
		<td><button name="push" value="deluxe">Deluxe</button></td>
		<td><button name="push" value='pool_deluxe'>Pool Deluxe</button>	</td>
		<td><button name="push" value="lanai">Lanai</button></td>
		<td><button name="push" value="presidential">Presidential Suite</button></td>
		<td><button name="push" value="manor">Garapan Manor</button></td>
		<td><button name="push" value="suites">Mango Suites</button></td>
		</tr></table>
	<div>
		<div class="gridBox">
			{%  if globalGrid %}
			<table class="global" >
				{% autoescape off %} {{ globalGrid}} {% endautoescape %}
			</table>
			{% endif %}
		</div>
	</div>
</form>
</div>

<script>
    $( document ).tooltip({ html:true});
    $( "#gridViewMenu").css("background-color","navajowhite")
</script>

{% endblock %}



