{% extends "revise/base-new.html" %}

{% block style   %}

<style>

.global {
	border:1px solid #898989;
	margin:auto;

}

.global td {
	padding : 10px;
	margin:0;
	text-align:center;
	font-size:12pt;
	color:black;
	background-color:white;

}

.gridBox  {
	width:100%;
	overflow-x:auto;
}

.titleBox {
	text-align:center;
	padding:.5em;
}

.title {
	color:maroon;
	font-weight:800;
	font-size:18pt;
	
}

.x_label_class {
	padding : 10px;
	font-size:12pt;
	text-align:center;
	background-color:yellow;
	
}

.y_label_class {

	padding : 10px;
	font-size:12pt;
	text-align:right;
	background-color:beige;																																					
}


.tableCalcs {
	border-radius:20px;
	font-size:12pt;
	width:90%;
	margin:20px auto;
	border:solid green;
	background-color:white;
	padding:.5em;
}

.tableCalcs  th {
	border-bottom:solid green;
	text-align:center;
	
}

.tableCalcs  td {
	padding:.5em;
	text-align:right;
}





</style>
{% endblock %}

{% block mainbox  %}
<form   method='POST'>
	{% csrf_token %}
<div>
	{% include 'revise/dateSelect.html' %}

</div>

<div class="std_div2">
	<div class="titleBox">
		<span class="title">{{ tableTitle }}</span>
	</div>
	<div style="width:600px; float:left">

		<div style="text-align:center; color:brown"><h1> Data Analysis </h1></div>
		<div>
			<table class="tableCalcs" >
				{% autoescape off %} {{ totals }} {% endautoescape %}
			</table> 
			 
		</div>
	</div>

	<div style="width:900px; float:left">
		<div class="gridBox">
			{%  if gridHTML %}
			<table class="global" >
				{% autoescape off %} {{ gridHTML }} {% endautoescape %}
			</table>
			{% endif %}
		</div>
	</div>

	<div class="clear"></div>

</div>


</form>
<script>
        $( "#occupancyMenu").css("background-color","navajowhite")
</script>

{% endblock %}
