{% extends "revise/base-new.html" %}

{% block style   %}

	<style>
		 .acctTable {
		 
			 width:1200px;
			 margin:2em auto; 
			 background-color:white; 
			 border:solid black;
			border-collapse:collapse;
			font-size:12pt;
		 }

		.acctTable td,
		.acctTable th  {
			height:20px;		
			border:1px solid black;
			border-collapse:collapse;
			font-size:12pt;
			padding:.3em;

		}
		 .innerTable {
		 
			 width:400px;
			 margin:2em ; 
			 background-color:white; 
			border:solid black;
			border-radius:15px;
			font-size:12pt;
		 }

		.innerTable td,
		.innerTable th  {
			height:20px;		
			border:0;
			border-collapse:collapse;
			font-size:12pt;

		}
		.charge li {
			display:inline; 
			margin-right:5px;
			}

	  .ratesTable td {
		  padding:.5em;
		  border-bottom: 1px solid green;
		  text-align:center;
	  }
		
	</style>

{% endblock %}


{% block mainbox  %}
<div class="std_div2">

	<form id="rateForm" method="POST" >
	{% csrf_token %}
	<input type='hidden' id="deleteVerify" name="deleteVerify" >
	<input type='hidden' id="cloneVerify" name="cloneVerify" >
	 

	<div>
		<div class="title" style="text-align:center;font-size:18pt">Rate Table</div>

		<div>
			<span>Select Rate</span>
		
			<select id="rateid" name="rateid"> 
				{% for rn in allRateHeads %}
					<option value="{{rn.id}}">{{ rn.title }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<ul class="charge">
				<li><button name="newRateHeading" >Create Rate Sheet</button>
				{{ rateHeadForm.as_ul }}
			</ul>
		</div>
			<h1>{{ rateHead.title }}</h1>
	</div>
	<div>
	 <button name="rateDelete">Delete Rate</button>
	 
	</div>

	</form>
	
	
	
	<div>
		<form method="POST">
	 	  {% csrf_token %}	
		  <table class="ratesTable">
			  <tr><th colspan="7">Room Rates</th></tr>
			  <tr>
				  <th></th>
				  <th>Name</th>
				  <th>Type</th>
				  <th>Low Season</th>
				  <th>High Season</th>
				  <th>Peak Season</th>
				  <th></th>
			  </tr>	
			  <tr>
				  <td>
					<button style="padding:.25em" name="atomSave" value="{{atomid}}">Save Changes</button><br>
					<button style="padding:.25em"  name="atomCreate" >Make New Entry</button>
					 
				 </td>
					  
				 {% for field in rateAtomForm %}
				  <td>{{ field }}</td>
				 {% endfor %}
				 
			  </tr>	
  
			  {% for atom in rateAtoms|dictsort:'rateName' %}
			  <tr>
				  <td><button name="atomSelect" value="{{atom.id}}">Edit</button></td>
				  <td>{{ atom.rateName }}</td>
				  <td>{{ atom.rateType }}</td>
				  <td>{{ atom.lowSeason }}</td>
				  <td>{{ atom.highSeason }}</td>
				  <td>{{ atom.peakSeason }}</td>
				  <td>
					  <button style="background-color:red" name="atomDelete" value="{{atom.id}}">X</button>
				  </td>
			  </tr>	
			  {% endfor %}				
			  
		  </table>
		</form>
	</div>
	
	<h2>Seasons Table</h2>
	 <div>
		  
		  		<form method="POST">
	 	  {% csrf_token %}	
		  <table class="ratesTable">
			  <tr><th colspan="7">Seasons</th></tr>
			  <tr>
				  <th></th>
				  <th>Name</th>
				  <th>Season</th>
				  <th>Begin Date</th>
				  <th>End Date</th>
			  </tr>	
			  <tr>
				  <td>
					<button style="padding:.25em" name="seasonSave" value="{{seasonid}}">Save Changes</button><br>
					<button style="padding:.25em"  name="seasonCreate" >Make New Entry</button>
					 
				 </td>
					  
				 {% for field in seasonForm %}
				  <td>{{ field }}</td>
				 {% endfor %}
				 
			  </tr>	
  
			  {% for seas in seasonsList|dictsort:'beginDate' %}
			  <tr>
				  <td><button name="seasonSelect" value="{{seas.id}}">Edit</button></td>
				  <td>{{ seas.name }}</td>
				  <td>{{ seas.season }}</td>
				  <td>{{ seas.beginDate }}</td>
				  <td>{{ seas.endDate }}</td>
				  <td>
					  <button style="background-color:red" name="seasonDelete" value="{{seas.id}}">X</button>
				  </td>
			  </tr>	
			  {% endfor %}				
			  
		  </table>
		</form>
		  
		  
	 </div>
	 




</div>
	 
	 


	 
	 
<script>
	 
	 {% if rateid %}
		 $( "#rateid" ).val("{{ rateid }}");
	 {%	endif %}
	 
	 $( "#rateid" ).change(
		 function() {
		 $("#rateForm").submit();
		 }
	 );	

</script>	 

	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	
<!-- Delete dialog definition -->

<div id="delVerifyDialog" >
	<div class="titleText" >Permanent Deletion</div>
	<div class="titleText">are you sure? </div>
</div>

<!-- Clone dialog definition -->

<div id="cloneDialog" >
	<div class="titleText" >Clone a new record.</div>
	<div class="titleText">are you sure? </div>
</div>



<script src="/static/rsvn/js/detail.js"></script>

<script>
// Dialog for deleting a record
	
	 $(function() {
		$( "#delVerifyDialog" ).dialog({
		   autoOpen: false, 
		   modal:true,
		   buttons: {
			  OK: function() {
				  $("#deleteVerify").val("yes")
				  $("#mainForm").submit();
				  $(this).dialog("close"); },
			Cancel: function() 	{$(this).dialog("close"); }
				  
		   },
		   title: "Delete Reservation {{ rsvnid }} ",
		});
		$( "#delbutton" ).click(function() {
		   $( "#delVerifyDialog" ).dialog( "open" );
		});
	 });

//  Dialog for duplicating a record 
	
	 $(function() {
		$( "#cloneDialog" ).dialog({
		   autoOpen: false, 
		   modal:true,
		   buttons: {
			  OK: function() {
				  $("#cloneVerify").val("yes")
				  $("#mainForm").submit();
				  $(this).dialog("close"); },
			Cancel: function() 	{$(this).dialog("close"); }
				  
		   },
		   title: "Clone this Record {{ rsvnid }} ",
		});
		$( "#dupbutton" ).click(function() {
		   $( "#cloneDialog" ).dialog( "open" );
		});
	 });


	$( "#invoiceMenu").css("background-color","navajowhite");


</script>
{% endblock %}
