{% extends "revise/base-new.html" %}

{% block style   %}


<style>
	.servTable {
		border-collapse:collapse;

		margin:20px auto;
		
	
	}


	.servTable th 
	{
	
	text-align:right;
	font-weight:700;
	padding:.5em;
	background-color:#9f9f9f;
		border:1px solid brown;
	
	}

	.servTable td
	 {
		border:1px solid green;
		border-collapse:collapse;
		text-align:center;
		background-color:beige;
		
	
	}
</style>
{% endblock %}

{% block mainbox  %}
<form method="POST">
	{% csrf_token %}
	<div> 
		{% include 'revise/dateSelect.html' %}
	</div>
	
	<div class="std_div2">	
		<div class="titleBox">
			<span class="title">{{ tableTitle }}</span>
		</div>
	
	
	
		<div style=" margin:20px auto; overflow-x:auto;">
			<table class="servTable">
				{% autoescape off%} {{ Sgrid }} {% endautoescape %}
			</table>
		</div>
	</div>
</form>

<script>
    $( "#serviceMenu").css("background-color","navajowhite")

</script>
{% endblock %}
