<style>
#datepickTable {
	margin:auto; 
	padding:4px;
	border:1px solid green; 
	background-color:#FDE5B7;
}

#datepickTable span {
	font-weight: 800;
	font-size:9pt;
}

</style>


	<div style="text-align: center;padding:1em;background-color:beige;">
		Start Date <input type="text" 	name="dateStart" 	value='{{dateStart}}' 	class="datepicker dateText" >
		Ending Date <input type="text" 	name="dateEnd"	 	value='{{dateEnd}}' 	class="datepicker dateText" >
		<button name ="view" class="clean-button">View Range</button>
	</div>
