<style>
.side-buttons {
	width:100%;
	border-radius:5px;
}
</style>
<div class="sbar">
	<form method="POST">
	{% csrf_token %}
			<div>
				<button name="panel" value="welcomecard" class="btn btn-primary  side-buttons" >Welcome</button>
			</div>
<hr>
			<div>				
				<button name="newrsvn"  class="btn btn-warning side-buttons" >New Reservation</button>
			</div>
<hr>
			<div>
				<button name="panel" value="searchcard" class="btn btn-primary  side-buttons" >SEARCH</button>
			</div>
<hr>
		<ul class="list-unstyled components">
			
			<li class="active">
				<button name="panel" value="rsvncard" class="sbar-buttons" >Name Card</button>
			</li>	
		{% if session.rsvnid != 0 %}
			<li>
				<button  name="panel"  value="roomcard" class="sbar-buttons" >Room Assign</button>
			</li>
			<li>
				<button name="panel" value="servicecard"   class="sbar-buttons" disabled >Service</button>
			</li>
			<li>
				<button  name="panel" value="tourcard"  class="sbar-buttons" disabled >Tour Info</button>
			</li>
			<li>
				<button  name="panel"  value="eventcard" class="sbar-buttons" disabled >Event</button>
			</li>
		{% endif %}

		</ul>
<hr>
			<div>				
				<button  name="panel" value="newgridcard" class="sbar-buttons"  >Grid</button>
			</div>



			<div>				
				<button  name="panel"  value="currentcard" class="sbar-buttons"  >Current Status</button>
			</div>
			<div>				
				<button  name="panel"  value="calendarcard" class="sbar-buttons"  >Calendar</button>
			</div>
	</form>
</div>
