
<nav style="height:40px" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img style="height:40px" src="/static/rsvn/img/Mango Head.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<span style="color:seagreen">Mango Resort Reservation System</span>
<span style="margin-left:8em"><a href="/accounts/logout">Logout</a> </span>
<span style="margin-left:3em;color:white">Username :{{ user.username }}</span>
</nav>

}