

<form method="POST">
{% csrf_token %}
	<div class="flex-con">		
		<div style="width:30%" class="frame-box">
			<h4>Room Assignment</h4>
			<hr>
			 <div>
				 {{ rsvn_rooms.count }} of {{ rsvn.rooms }} assigned
			 </div>
			{% include "inserts/room_assigned.html" %}
					
		</div>


		<div  style="width:35%" class="frame-box">
		<h3>Available</h3>
			{% for room  in roomlist  %}
				<hr>
				{{ room.head }}
				<br>
					{% for  item in room.list %}
						{% if not item.occupied %}
						<button class="ravail-btns" name="room-select" value="{{item.id}}">
						{{ item.number }}</button>
						{% endif %}
					{% endfor %}
			{% endfor %}
		</div>

		<div style="width:35%" class="frame-box">

			<h3>Occupied</h3>
			{% for room  in roomlist  %}
				<hr>
				{{ room.head }}
				<br>
				<div class="flex-con">
					{% for  item in room.list %}
						{% if item.occupied %}

							{% if item in my_rooms %}
								<div><button class="my-btns">{{ item.number  }}</button></div>			    
							{% else%}
								<div><button class="occ-btns">{{ item.number }}</button></div>
							{% endif %}					
						{% endif %}
					{% endfor %}
				</div>	

			{% endfor %}
		</div>

	</div>
</form>


<!--
<div>
{% for key, value in rs1.roomlister.items  %}
		<h3>{{key}}</h3>
		{% for r,v in value.items  %}
		<div>{{ r }}</div>

		{% for x in v  %}
			{{ x}}
		{% endfor %}

		{% endfor %}
		{{rec}}


{% endfor %}
-->