	

		<div  class="frame-box">
			<h4>Reservation Card</h4>
			<div>
				<form id="mainForm" method="POST" >
					{% csrf_token %}
					<input type='hidden' id="deleteVerify" name="deleteVerify" >
					<input type='hidden' id="cloneVerify" name="cloneVerify" >
					<div class="flex-con">
						{% for rform in RsvnForm %}
							<div class="cell-wrapper">
								<div class="cell-label">{{ rform.label }}</div>
								<div class="cell-data nice-input">{{ rform }}
									<div class="clear"></div>
								</div>
							</div>		
						{% endfor %}

						{% if session.rsvnid %}
						<div><button name="update-rsvn">Update Record</button></div>
						{% if user.username == "ioulia" or  user.username == "hobo" %}
						<div style="margin-left:10em"><button name="delete-rsvn">Delete Record</button></div>
						{% endif %}
						
						{% else %}
						<div><button name="create-rsvn">Create Record</button></div>
						{% endif %}
				
					</div>
				</form>
			</div>
		</div>
		{% if session.rsvnid %}

			<div class="row">
				<div class="col-md-4">
			<!-- Color scheme -->
					<form method="POST">
					{% csrf_token %}
						<div class="frame-box" style='border-width:3px;border-color:{{schemecolor}}'>
							<h4>Color Scheme</h4>
				
								<table>
									{{ SchemeForm.as_table }}
								</table>
							<button name="update-scheme">Update Scheme</button>
						</div>
					</form>
				
				</div>
				<div class="col-md-4">
					<div class="frame-box">
						<h4>Blog</h4>
						<form method="POST">
						{% csrf_token %}
						<table>
						{{ RsvnBlogForm.as_table }}
						</table>
						<button name="save-blog" class="btn btn-primary btn-sm">Save</button>
						
						
						</form>


						
						<div style="overflow-y:auto; height:100px;">
							{% for brec in blogList %}
								<div class="blog-head" ><strong>{{ brec.clerk }} </strong> -{{ brec.time|date:"m/d/y" }} {{ brec.time|time:"H:i" }} 
									<span class="blog-msg">{{brec.desc}}</span></div>
			
							{% endfor %}	
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="frame-box">
						<form method="POST">
							{% csrf_token %}
						<h4><button  style="background-color:inherit" name="panel"  
							value="roomcard" >Rooms</button></h4>
						</form>
						{% include "inserts/room_assigned.html" %}
					</div>
				</div>
			{% endif %}
			
		</div>

