		<h4>Reservation Search</h3>
		<div class="flex-con">
		
		<div class="frame-box"> 
			<h5>Enter Name</h5>
			<form method="POST">
			<label >Include Cancelled <input type="checkbox" name="include_cancel" ></label><br><br>
				{% csrf_token %}
				<input type="text" name="query" value="{{query}}">
				<button type="submit" name="go_search">Search</button>
				<hr>
			</form>
		</div>
		<div class="frame-box ml-3">
			<h5>Enter Date</h5>
			<form method="POST">
			<label >Include Cancelled <input type="checkbox" name="include_cancel" ></label><br><br>
				{% csrf_token %}
				<input type="text" class="datepicker"  name="dquery" value="{{dquery}}">
				<button type="submit"  name="go_search">Search</button>
				<hr>
			</form>
		
		
		</div>		

		<div class="frame-box ml-3">
			<h5>Unassigned Guest</h5>
			<form method="POST">
			<label >Include Cancelled <input type="checkbox" name="include_cancel" ></label><br><br>
				{% csrf_token %}
				<button type="submit" name="go_search">Search</button>
				<input type="hidden" name="xquery" >
				<hr>
			</form>
		
		
		</div>		
	
		
		</div>
				{% include "inserts/rec-lister.html" %}
			
