
<style>
	.availTable  {
		background-color:{{ theme_back }};

		width:100%;
		margin:auto;
		}

	.availTable th  {
		color:{{ theme_text }};
		text-align:left;
		
	}
	.availTable td  {
		padding:8px;
		color:black;
		
	}
	
	.highlight {
		background-color:beige;
	}


	
	
</style>

<table class="availTable">
	<tr><td colspan=3 style="text-align:center; font-size:11pt;font-weight:bold;" >Room Charge</td></tr>
		{% for order in ROOMTYPES %}
			{% for key,a in alist.items %}
				{% if key == order %}

		<tr style='background-color:inherit'>
			<td>			
	
				{% if key == typeChoice %}
					<img src="/static/rsvn/img/arrow.png" />
				{% endif %}

			</td>

			<th>{{ key }}</th>
				<td>{{ a.avail }}</td>
				<td>{{ a.total }}</td>
		</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}								
</table>

<div class='clear' ></div>
