<hr>
<div style="width:200px;  float:left"><a href="/rsvn/calendar/{{ event.rsvn.id}}" >{{ event.title }}</a></div>
<div style="width:100px;  float:left">{{ event.dateStart|date:"m/d/y" }}</div>
<div style="width:100px;  float:left">{{ event.timeStart|time:"h:s" }}</div>

<div style="width:100px;  float:left">{{ event.dateEnd|date:"m/d/y" }}</div>
<div style="width:100px;  float:left">{{ event.timeEnd|time:"h:s" }}</div>
<div style="width:100px;  float:left">{{ event.pax }}</div>
<div style="width:200px;  float:left">

{% for room in event.roomset %}
{{ room.roominfo.number }},
{% endfor %}
</div>

<div style="width:400px;  float:left">{{ event.descr }}</div>


<div class='clear'></div>

<hr>
