{% extends "revise/base-new.html" %}

{% block style   %}


<style>
		
.leftFrame {
	width:340px;
	padding:1em;
	background-color:beige;
	border:1px solid brown;
	margin:5px;
	float:left;
	border-radius:20px;
	height:450px;
}


.leftFrame th {
	text-align: right;
	padding:.25em;
	font-size:10pt;
}

.leftFrame td,
.leftFrame input,
.leftFrame select

{
	font-size:12pt;
	padding:4px;
}



.stdFrame  {
		height: 810px;
		overflow:scroll;
}

.headText {
	color:brown;
	text-align:center;
	font-size:20pt;
	font-weight:bold;
	padding:6px;
}

.titleText {
	color:brown;
	text-align:center;
	font-size:14pt;
	font-weight:bold;
	padding:4px;

}
.required {
	color:RoyalBlue;
}
.error {
		color:yellow;
		background-color:red;
}
.RGTable th,
.RGTable td,
.RGTable tr

{
	font-size:8;
	padding:.4em;
	margin:2px;
}
.RGTable button {
	border:none;
	padding:.2em;
	margin:1px;
	font-size:11pt;
	border-radius:4px;
	cursor:pointer;
}

.RGTable th
{
	text-align:right;
	font-size:10pt;
	color:white;
	font-weight:300;
}



.RGDiv 
{
	float:left;
	padding:.4em;
	border-radius:20px;
	border:1px solid brown;
	background-color:#3f3f3f;
	margin:5px;
	width:1100px;

	
	}

.last {
	background-color: pink;
}
.rsvd {
	background-color: red;
}

.mine {
	background-color: green;

}

.ooc {
	background-color: black;
	color : yellow;
}

.b2b {
	background-color: orange;

}



</style>
{% endblock %}

{% block mainbox  %}

<div class="std_div2">

	<form id="mainForm" method="POST" >
	{% csrf_token %}
	<input type='hidden' id="deleteVerify" name="deleteVerify" >
	<input type='hidden' id="cloneVerify" name="cloneVerify" >
	<div>
		{% if rsvnid %}
			<a class="clean-button" style="font-size:12pt; margin-left:20px;" href="/rsvn/detail/list/{{rsvnid}}#current" >Return To List</a>
			<a class="clean-button" style="font-size:12pt; margin-left:200px;" href="/rsvn/invoice/{{rsvnid}}" >View Invoice</a>
		{% else %}
			<a class="clean-button"  style="font-size:12pt"  href="{% url 'rsvnlist' 0 %}" >Return To List</a>
	
		{% endif %}
		
			<button class="clean-button" style="margin-left:500px;" name="saveForm">Save Changes</button>
	</div>
	 
	<div class="leftFrame">
		<div class='headText'>Contact Information</div>
		{% if RsvnForm %}
			<table>
			{% for rform in RsvnForm %}
				{%  if rform.name in RC1List %}
				<tr>
					<th
						{% if rform.errors %}
						class='error'
						{% elif  rform.name in fieldchk %}
						class='required'
						{% endif%}				
						>{{ rform.label }}</th>
		
					<td>{{ rform }}</td>
				</tr>
				{% endif %}
			{% endfor %}

			</table>	
		{% endif %}
	</div>

	<div id="testBox" class="leftFrame">
		<div class='headText'>Check In Information</div>
		{% if RsvnForm %}
		<table>
			{% for rform in RsvnForm %}
				{%  if rform.name in RC2List %}
				<tr>
					<th
					{% if rform.errors %}
						class='error'
					{% elif  rform.name in fieldchk %}
						class='required'
					{% endif%}
					>{{ rform.label }}</th>
					<td>{{ rform }}</td>
				</tr>
				{%  endif  %}
			{% endfor %}
		</table>	
		{% endif %}
	</div>
	
	
	<div class="leftFrame" style="width:200px !important;">
		<div class='headText'>Services</div>
		{% if ServiceForm %}
		<table>
			{% for rform in ServiceForm %}
			<tr>
				<th
					{% if rform.errors %}
					class='error'
					{% elif  rform.name in fieldchk %}
					class='required'
					{% endif%}
					>{{ rform.label }}</th>
				<td>{{ rform }}</td>
			</tr>
			{% endfor %}
		</table>	
		{% endif %}
	</div>
	<div id="tourBox" class="leftFrame">
		<div class='headText'>Tourist Information</div>
		{% if TourForm %} 
		<table>
			{% for rform in TourForm %}
			<tr>
				<th
				{% if rform.errors %}
					class='error'
				{% elif  rform.name in fieldchk %}
					class='required'
				{% endif%}
			
				>{{ rform.label }}</th>
				<td>{{ rform }}</td>
			</tr>
			{% endfor %}
		</table>	
		{% endif %}
	</div>
		
	<div id="eventBox" class="leftFrame">
		<div class='headText'>Event Information</div>
		{% if EventForm %} 
		<table>
			{% for rform in EventForm %}
			<tr>
				<th
					{% if rform.errors %}
						class='error'
					{% elif  rform.name in fieldchk %}
						class='required'
					{% endif%}
				>{{ rform.label }}</th>
				<td>{{ rform }}</td>
			{% endfor %}
			</tr>
		</table>	
		{% endif %}
	</div>
		
		
		
	{% if not create %}
		<div class="leftFrame" >
			
			<div class='headText'>Room Assignment</div>
			<div class="titleText" style="text-align:center"> {{ rsvnRec.assigned }} of {{ rsvnRec.rooms }} assigned</div>
			<div  style="height:340px; overflow-y:scroll">	
				
				{% for rms in rsvnRec.roomset|dictsort:"roominfo.number" %}
				
				<div style="border:1px solid white; padding:3px; ">
					<span><button style="font-size:7pt" name="delRoom" value="{{ rms.roominfo.number }}">X</button> </span>
					<span style="margin:5px; font-size:12pt; font-weight:bold; ">{{ rms.roominfo.number }} </span>
					<span style="margin:5px; font-size:10pt">{{ rms.roominfo.beds }} Beds</span>
					<span style="margin:5px; ">
						<button style="font-size:7pt;width:32px; margin-left:10px;  {% if rms.roomstatus == 'none' %} background-color:white;  font-weight:bold;{% endif %} "
						   name="roomNoneSelect" value="{{ rms.roominfo.number }}">VAC</button>
						<button style="font-size:7pt;width:32px; margin-left:10px; {% if rms.roomstatus == 'checkin' %} background-color:green;  color:white; font-weight:bold;{% endif %}"
						   name="roomInSelect" value="{{ rms.roominfo.number }}">IN</button>
						<button style="font-size:7pt;width:32px; margin-left:10px; {% if rms.roomstatus == 'checkout' %} background-color:royalblue; color:white; font-weight:bold;{% endif %}"
						   name="roomOutSelect" value="{{ rms.roominfo.number }}">OUT</button>
					</span>
				</div>
				{% endfor %}
				
			</div>
			<div style="padding:5px">
				<span style="font-size:10pt; font-weight:bold">Global Select</span>
				<button  style="margin-left:15px;" class="small-button" name="globalNone">VAC</button>
				<button  style="margin-left:15px;" class="small-button" name="globalIn">IN</button>
				<button  style="margin-left:15px;" class="small-button" name="globalOut">OUT</button>
			
			</div>
		</div>
	{% endif %}	
		<div class='clear'></div>


		<!-- Color scheme -->
		<div class="leftFrame" style="height:230px;width:220px;">
			<div class='headText'>Color Scheme</div>
			<table>
				{{ SchemeForm.as_table }}
			
			{% if rsvnid > 0 %}
				<tr><td colspan='2'>{{ rsvnRec.confirm }}</td></tr>
				<tr><td colspan='2'>Clerk : {{ rsvnRec.clerk }}</td></tr>
			{% endif %}
			
			</table>
		</div>

	{% if not create %}
		<!-- Here is the room grid -->
		<div class="RGDiv">
			<table class="RGTable">
			{% autoescape off %}
				 {{ roomgrid }}
			{% endautoescape %}
			</table>	
		</div>
	{% endif %}	

<style>
textarea {
	text-align: left;
}
</style>

		<!--Blog Form scheme -->
		<div class="leftFrame" style="height:230px">
			<div class='headText'>Blog
			<button name="saveBlog" class="clean-button">Save</button>

			</div>
			<table>
				{{ RsvnBlogForm.as_table }}
			</table>
			<hr>
			<div style="overflow-y:auto; height:100px;">
			{% for brec in blogList %}

					

				<div>{{ brec.time|date:"m/d/y" }} {{ brec.time|time:"H:i" }} - {{brec.desc}}</div>
			<hr>

			{% endfor %}
			</div>
		</div>

		<div class='clear'></div>








	</form>

	
 <!-- we leave the form to run some independant jquery button dialogs -->
	<div style="background-color:white">
	{% if perms.rsvn.delete_rsvn and rsvnid %}
		<button class="clean-button" style="background-color:yellow; margin-left:50px;" id="delbutton" name="rsvnDelete" value="{{ rsvnid }}" > DELETE</button>
	{% endif %}
		<button style="margin-left:100px;" class="clean-button" id="dupbutton" name="rsvnDup" value="{{ rsvnid }}" > Duplicate</button>
	</div>

  <div id="log"></div>
	
</div>




<!-- Delete dialog definition -->

<div id="delVerifyDialog" >
	<div class="titleText" >Permanent Deletion</div>
	<div class="titleText">are you sure? </div>
</div>

<!-- Clone dialog definition -->

<div id="cloneDialog" >
	<div class="titleText" >Clone a new record.</div>
	<div class="titleText">are you sure? </div>
</div>



<script src="/static/rsvn/js/detail.js"></script>


<script>
	
	
	
	
	$( "#eventBox" ).hide();
	
	
	function changeEvent() {
	
		var x = 0;
		
		if ( $( "#id_event:checked" ).val() ) {
			$( "#eventBox" ).show();
		}
		else {
			$( "#eventBox" ).hide();
		}		
	}	
	
	$( "#id_event" ).change( 
		function() {
			changeEvent();	
		}
	);
	changeEvent();
// Dialog for deleting a record
	
	 $(function() {
		$( "#delVerifyDialog" ).dialog({
		   autoOpen: false, 
		   modal:true,
		   buttons: {
			  OK: function() {
				  $("#deleteVerify").val("yes")
				  $("#mainForm").submit();
				  $(this).dialog("close"); },
			Cancel: function() 	{$(this).dialog("close"); }
				  
		   },
		   title: "Delete Reservation {{ rsvnid }} ",
		});
		$( "#delbutton" ).click(function() {
		   $( "#delVerifyDialog" ).dialog( "open" );
		});
	 });

//  Dialog for duplicating a record 
	
	 $(function() {
		$( "#cloneDialog" ).dialog({
		   autoOpen: false, 
		   modal:true,
		   buttons: {
			  OK: function() {
				  $("#cloneVerify").val("yes")
				  $("#mainForm").submit();
				  $(this).dialog("close"); },
			Cancel: function() 	{$(this).dialog("close"); }
				  
		   },
		   title: "Clone this Record {{ rsvnid }} ",
		});
		$( "#dupbutton" ).click(function() {
		   $( "#cloneDialog" ).dialog( "open" );
		});
	 });


function colorCheck () {
	 var rx = $( "#id_rsvnColor" ).val();
	 var ry = $( "#id_gridColor" ).val();
	 var rz = $( "#id_extraColor" ).val();
	 
	 $( '#id_gridColor' ).css('background-color',ry);
	 $( '#id_rsvnColor' ).css('background-color',rx);
	 $( '#id_extraColor' ).css('background-color',rz);
	};

$( '#id_gridColor' ).change(colorCheck );
$( '#id_extraColor' ).change(colorCheck );
$( '#id_rsvnColor' ).change(colorCheck );

 colorCheck()

	$( "#rsvnMenu").css("background-color","navajowhite");


</script>
{% endblock %}
