{% extends "revise/base-new.html" %}

{% block style   %}
<style>

.grid {
	margin:auto;
}

.grid td,tr {
	border:1px solid blue;
	padding:1em;
}
</style>
{% endblock %}

{% block mainbox  %}

<form method="POST">
	{% csrf_token %}
	<div style="border-top:1px solid green"> 
		{% include 'revise/dateSelect.html' %}
	</div>
</form>
<table class="grid">
{% for room in roomListing %}
	{% for guest in room.guestroom %}
		<tr><td>
			{% if forloop.first %}		
				{{ room.number }}
			{% endif %}	
			</td>
			<td>{{guest.record.firstname }}</td><td>{{guest.record.lastname  }}</td>
			<td>{{guest.record.dateIn  }}</td><td>{{guest.record.dateOut  }}</td></tr>

	{% endfor %}	
{% endfor %}
</table>


{% endblock %}
