<hr>
<div style="width:320px;  float:left">
	{% if rv.tourset.agent.agency  %}
		<a href="{% url 'calendar' rv.id %}" ondblclick="window.location.assign('/rsvn/detail/update/{{rv.id}}')" >{{ rv.tourset.agent.agency }}</a><br>
	{% endif %}	
	<a href="{% url 'calendar' rv.id %}" style="color:{{ rv.textColor }}; font-size:14pt;" ondblclick="window.location.assign('/rsvn/detail/update/{{rv.id}}')">
			{{ rv.firstname }} {{ rv.lastname }} </a>
</div>

<div style="width:200px;  float:left">{{ rv.status|upper }}</div>

<div style="width:200px;  float:left">
	{{ rv.dateIn|date:"m/d/y" }} -- {{ rv.dateOut|date:"m/d/y" }}
</div>
<div style="width:400px; color:royalblue; float:left">
		{% if not rv.serviceset %}
			<div>-</div>
		{% endif %}
		
		{% for serv in rv.serviceList %} 
				<div style="width:100px;float:left;font-size:10pt;font-family:smallCaps">{{ serv }},</div>
		{% endfor %}
		<div class="clear"></div>

</div>
<div style="width:300px;  float:left" >

			{% for rm in rv.roomset %} 
						
				{{ rm.roominfo.number }} ,
				
			{% endfor %}
</div>
<div class='clear'></div>

