{% extends "revise/base-new.html" %}

{% block style   %}
<style>

.grid {
	margin:auto;
	border-collapse: collapse;
}

.grid td,tr {
	border:1px solid blue;
	padding:.4em;
}
</style>
{% endblock %}

{% block mainbox  %}

<form method="POST">
	{% csrf_token %}
	<div style="border-top:1px solid green"> 
		{% include 'revise/dateSelect.html' %}
	</div>
</form>
<table class="grid">
<tr><td colspan=6 style="text-align:center;font-size:14pt; font-weight:bold">Mango Property History</td><tr><td colspan=6 style="text-align:center;font-size:14pt; ">{{ dateStart}} - {{ dateEnd }}</td></tr>
{% for room in roomListing %}
	{% for guest in room.guestroom %}
		<tr><td>
			{% if forloop.first %}		
				{{ room.number }}
			{% endif %}	
			</td>
			<td>{{guest.record.firstname }}</td><td>{{guest.record.lastname  }}</td>
			<td>{{guest.record.dateIn  }}</td><td>{{guest.record.dateOut  }}</td>
			<td>{{guest.record.country  }}</td>
			</tr>

	{% endfor %}	
{% endfor %}
</table>


{% endblock %}
